@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@font-face {
  font-family: Yekan;
  src: url('./fonts/Yekan.ttf');
}
@font-face {
  font-family: Zar;
  src: url('./fonts/Zar.ttf');
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  /* direction: rtl; */
  font-family: 'Yekan', cursive !important;
  background-color: #333 !important;
}

body {
  /* background-color: #f8f8f8 !important; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(background/1.jpg);
  background-size: 4500px;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  margin-bottom: 0px !important;
}

#activities {
  font-size: 35px;
  user-select: none;
  margin-top: 5% !important;
  width: 180px;
  margin: 20px auto;
}

#activities:hover {
  font-size: 45px;
  transition-duration: 0.5s;
  color: red;
}
a.navbar-brand {
  font-size: 30px;
}

.logo {
  display: inline-block;
  position: absolute;
  margin-left: 210px;
  margin-top: 3px;
  width: 45px;
  height: 45px;
  border: solid rgba(0, 0, 0, 0.633) 3px;
  border-radius: 50%;
  background-image: url(logo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

li > a {
  font-size: 20px;
}
#topRow {
  margin-top: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  /*background: #e8703c;*/
}

#bottomRow {
  margin-top: 5%;
  padding-bottom: 20px;
}

#bottomRow,
#topRow {
  margin-left: 0;
  margin-right: 0;
  translate: -4.15% 0px;
}

#topRow > div > img,
#bottomRow > div > img {
  border-radius: 10px;
}

.textOnImage {
  padding: 0px;
  margin: 0px;
  translate: 0px 10%;
  font-weight: 700;
  width: 100%;
  text-align: center;
  user-select: none;
  font-size: 22px;
}

.text-white {
  color: white;
}

@media screen and (max-width: 1200px) {
  .textOnImage {
    font-size: 17px;
  }
}

@media screen and (max-width: 992px) {
  .textOnImage {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  #bottomRow,
  #topRow {
    translate: -10.33% 0px;
  }
}

@media screen and (max-width: 768px) {
  #bottomRow > div,
  #topRow > div {
    margin-top: 5%;
  }
  .textOnImage {
    font-size: 11px;
  }
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-top: 15%;
}

.history {
  flex: 1;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#picture-compony {
  width: 70%;
}

#picture-cooperation {
  width: 70%;
}

#sec1,
#sec2 {
  display: inline-block;
  direction: rtl;
  padding: 1% 2%;
  border-radius: 15px;
  border: red solid 3px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(background/4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5%;
  width: 80%;
  text-align: center;
}

.history #sec1 p,
.history #sec2 p {
  font-size: 2vmax;
  color: white;
}

.history #sec1 p {
  font-weight: 600;
}

#sec2 p {
  font-weight: 700;
}

#map {
  margin-top: 10%;
  height: 400px;
}

#endingSection {
  padding-bottom: 20px;
  background-color: darkturquoise;
}

#endingSection div h2 {
  font-size: 1.2vmax;
}

@media screen and (max-width: 1300px) {
  #endingSection div h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  #endingSection div h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  #endingSection div h2 {
    font-size: 8px;
  }
}

#phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > h3 {
  font-size: 35px;
  font-family: 'Zar', cursive !important;
}

a > i {
  color: lemonchiffon;
}
